@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/font/Roboto-Regular-Latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/font/Roboto-Regular-LatinExt.woff2") format("woff2");
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/font/Roboto-Medium-Latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/font/Roboto-Medium-LatinExt.woff2") format("woff2");
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("../assets/font/Roboto-Light-Latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }
  @font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/font/Roboto-Mono-Latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }
  @font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/font/Roboto-Mono-LatinExt.woff2") format("woff2");
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto";
    font-size: 12px;
    letter-spacing: 0.07px;
    margin: 0;
    font-family: Roboto;
    line-height: 1.4;
    overflow: hidden;
  }
  
  ul {
    padding: 0 0 0 16px;
    margin: 0;
  }
  
  li:not(:last-child) {
    margin-bottom: 0.5em;
  }
  
  h1,
  h2 {
    position: relative;
    padding: 0 60px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    z-index: 1;
  }
  
  h1 {
    font-family: "Roboto";
    font-size: 34px;
    letter-spacing: 0.2px;
    font-size: 24px;
    margin: 0.5rem 0 0;
  }
  @media (min-width: 640px) and (min-height: 640px) {
    h1 {
      font-size: 34px;
      margin: 2rem 0 0;
    }
  }
  
  h2 {
    font-family: "Roboto";
    font-size: 12px;
    letter-spacing: 0.07px;
    font-size: 18px;
    margin: 0 0 0.5rem;
    opacity: 0.8;
  }
  @media (min-width: 640px) and (min-height: 640px) {
    h2 {
      font-size: 22px;
      margin: 0 0 2rem;
    }
  }
  h2 span {
    padding: 0.2rem 0.4rem;
    margin: 0 0.2rem;
  }
  h2 [data-personidx="0"] {
    color: #000;
    background-color: #fff;
  }
  h2 [data-personidx="1"] {
    color: #fff;
    background-color: #000;
  }
  
  legend {
    position: relative;
    margin: 0 auto;
    z-index: 1;
    color: #fff;
    text-align: center;
    font-weight: 300;
  }
  legend ul {
    display: inline-block;
    list-style: none;
  }
  legend li {
    float: left;
    margin: 0 16px;
    border-bottom: 5px solid #fff;
  }
  
  a,
  a:visited {
    color: deepskyblue;
    text-decoration: none;
  }
  
  .background {
    position: fixed;
    left: -5vw;
    top: -5vh;
    width: 110vw;
    height: 110vh;
    background-size: cover;
    background-position: 50% 50%;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: opacity 2s ease;
  }
  
  .chart {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    transition: transform 0.2s linear;
  }
  .chart svg {
    position: absolute;
    top: 50%;
    height: 200px;
    margin-top: -50px;
  }
  
  .skills {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: 120px;
  }
  .skills .skill-set {
    position: absolute;
    opacity: 0;
    transition: opacity 2s 1s ease;
  }
  .skills .skill-set.is-visible {
    opacity: 1;
    transition: opacity 2s ease;
  }
  .skills .skill {
    font-family: "Roboto";
    font-size: 11px;
    letter-spacing: 0.066px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    text-align: center;
    opacity: 0.8;
    color: #333;
    font-weight: 700;
    font-weight: 300;
    transition: opacity 0.4s ease, transform 0.4s ease;
  }
  .skills .skill:hover {
    opacity: 1;
    transform: scale(1.1);
  }
  
  .skillbars-container {
    position: absolute;
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    bottom: 80px;
    width: 100%;
    height: 25vh;
    pointer-events: none;
    z-index: 0;
  }
  @media (min-width: 640px) and (min-height: 640px) {
    .skillbars-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
  .skillbars-container .skillbars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
    font-size: 0;
    opacity: 0;
    transition: opacity 1s 1s ease-in;
  }
  .skillbars-container .skillbars.is-visible {
    opacity: 1;
    transition: opacity 0.2s ease-out;
  }
  .skillbars-container .skillbars .skillbar-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 100%;
  }
  .skillbars-container .skillbars .skillbar {
    position: relative;
    background-color: rgb(5, 4, 4);
    vertical-align: bottom;
    opacity: 0.5;
    border-radius: 2px;
    transition: height 0.4s ease-in, opacity 0.4s ease, background-color 0.4s ease, color 0.4s ease;
  }
  .skillbars-container .skillbars .skillbar > div {
    font-family: "Roboto";
    font-size: 10px;
    letter-spacing: 0.05px;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    bottom: -10px;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    white-space: nowrap;
  }
  
  .info-box {
    position: absolute;
    display: inline-block;
    top: 50%;
    max-width: 200px;
    padding: 4px 0;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  .info-box.is-text-visible {
    max-height: 1000px;
    z-index: 1000;
    transition: transform 5s 2s ease, -webkit-transform 5s 2s ease;
  }
  .info-box.is-text-visible h1,
  .info-box.is-text-visible h2,
  .info-box.is-text-visible time,
  .info-box.is-text-visible p {
    opacity: 0.9;
  }
  .info-box.is-text-visible p {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    transition: transform 0.4s ease, -webkit-transform 0.4s ease, opacity 0.4s ease;
  }
  .info-box[data-personidx="0"] h1,
  .info-box[data-personidx="0"] h2,
  .info-box[data-personidx="0"] time,
  .info-box[data-personidx="0"] p {
    color: #000;
    background-color: #fff;
  }
  .info-box[data-personidx="1"] h1,
  .info-box[data-personidx="1"] h2,
  .info-box[data-personidx="1"] time,
  .info-box[data-personidx="1"] p {
    color: #fff;
    background-color: #000;
  }
  .info-box h1,
  .info-box h2,
  .info-box time,
  .info-box p {
    display: inline-block;
    min-width: 100px;
    padding: 2px 8px;
    margin: 0;
    color: #000;
    background-color: #fff;
    text-align: left;
    transition: opacity 0.4s ease;
    font-weight: 300;
  }
  .info-box h1,
  .info-box h2,
  .info-box time {
    opacity: 0.7;
  }
  .info-box h1 {
    font-family: "Roboto";
    font-size: 16px;
    letter-spacing: 0.09px;
    padding: 4px 8px;
    cursor: pointer;
    border-bottom: 5px solid cyan;
  }
  .info-box h2 {
    font-family: "Roboto";
    font-size: 12px;
    letter-spacing: 0.07px;
  }
  .info-box time {
    display: inline-block;
    padding-top: 4px;
  }
  .info-box p {
    font-family: "Roboto";
    font-size: 12px;
    letter-spacing: 0.07px;
    opacity: 0;
    width: 200px;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: 300;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease, opacity 0.4s 0.4s ease;
  }
  
  circle.stop {
    fill: #fff;
    stroke: #000;
    stroke-width: 3px;
    transition: r 0.4s ease, stroke 0.4s ease, fill 0.4s ease;
    cursor: pointer;
  }
  
  .life-line {
    fill: none;
    stroke: #fff;
    stroke-width: 4px;
    opacity: 0.5;
  }
  
  .fine-line {
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
  }
  
  #scroll-left,
  #scroll-right {
    font-family: "Roboto";
    font-size: 34px;
    letter-spacing: 0.2px;
    position: absolute;
    top: 0;
    width: 10%;
    max-width: 50px;
    height: 100vh;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    line-height: 100vh;
    opacity: 0.4;
    transition: opacity 0.4s ease;
    z-index: 2000;
  }
  #scroll-left:hover,
  #scroll-right:hover {
    opacity: 0.6;
  }
  
  #scroll-left {
    left: 0;
  }
  
  #scroll-right {
    right: 0;
  }
  
  .social-icons {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 0 15px 0;
  }
  .social-icons .social-icon {
    display: inline-block;
    margin: 0 1em;
    opacity: 0.8;
    transition: opacity 0.4s ease, transform 0.4s ease;
  }
  .social-icons .social-icon:hover {
    opacity: 1;
    transform: translate(0, -5px);
  }
  .social-icons .social-icon.pdf-cv {
    margin-left: 1em;
    padding-left: 2em;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
  .social-icons .social-icon img {
    width: auto;
    height: 20px;
  }
  
  #measureWidth {
    font-family: "Roboto";
    font-size: 11px;
    letter-spacing: 0.066px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    font-weight: 700;
  }